html {
  font-size: 62.5%;
  /*16px * 62.5 = 10px = 1rem */
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #c9d6df;
  position: sticky;
  top: 0;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #c9d6df;
  color: #424242;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1.5rem 0;
}

/* ----------common------------ */
a {
  text-decoration: none;
  color: #1687a7;
}

a:hover {
  color: #A683E3;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

.shop-now,
button {
  padding: 1rem;
  border-radius: .5rem;
  background-color: #1687a7;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  transition: .5s ease-in-out;
  font-weight: bold;
  color: #f1f1f1
}

button:hover {
  background-color: #1fab89;
}

abbr {
  text-decoration: none;
}

input {
  padding: 8px;
  outline: none;
  border: none;
  border-bottom: 3px dashed #1687a7;

}

input:focus {
  border-bottom: 3.1px dashed #1fab89;
}

/* ---------------------------------------------------------------- */

header a {
  color: #424242;
  padding: 1rem;
}

a.brand {
  font-weight: bold;
  font-size: 3rem;
}

.badge {
  background-color: #ff165d;
  color: #f1f1f1;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  margin-left: 0.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center
}

.center {
  text-align: center;
}

.vertical-center {
  margin-top: 40vh;
}


.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.min-30 {
  max-width: 30rem;
}

/* imgage */

img {
  border-radius: .5rem;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

img.large {
  width: 100%;
}

.card {
  margin: 1rem;
  box-shadow: 0 2px 10px rgb(0 0 0 / 6%);
  border-radius: 10px;
  background-color: #f0f5f9;
}

.card-body {
  padding: 1rem
}

.card-body>* {
  margin-bottom: .5rem;
}

.raiting span {
  color: #1fab89
}

.raiting span:last-child {
  color: #384259;
}

.price * {
  color: #384259;
}

.success {
  color: #1fab89;
}

.error {
  color: #ff165d;
}

.alert-error {
  background: #ff165d;
  padding: 1rem;
  color: #f1f1f1;
  border-radius: 5px;
}

.loading {
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  margin-top: 30vh;
}

.loading i {
  font-size: 5rem;
  color: #1fab89;
  animation: color .8s linear infinite;
}

i.button-loading{
  animation: color .8s linear infinite;
}

@keyframes color {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}


/* Forms */
.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form>div {
  display: flex;
  flex-direction: column;
  padding: .6em
}

.form label {
  padding: .5em 0;
  display: block
}

/* Profile */

#profile-card {
  position: absolute;
  right: 0;
  display: none;
  box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
  animation: profile 2s;
  background-color: #c9d6df;
  margin: 1em;
  padding: .2em 1em;
  color: #3c4043 !important;
  border: 1px solid rgb(0 0 0 / 20%);
}

.profile:hover ~ #profile-card{
  display:block;
  color: red;
}


.logout a:hover {
  background-color: #f0f5f9;
}


.active {
  display: block !important;
}

 /* CHECKOUT STEPS */
 .checkout > div{
   border-top: 3px solid gainsboro;
   color: gray;
   flex: 1;
   padding: 1rem;
   font-weight: bold;
 }

 .checkout > div.active{
   border-top-color: #1fab89;
   color: #1fab89;
 }

.inactive {
  display: none;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: initial
}

::-webkit-scrollbar-thumb {
  background: #c9d6df;
}